<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
        </style>
        <script src=""></script>

        <body>
            {% load static %}
            <img src="{% static 'img/Logo.png' %}" alt="Logo">

            <div class="">
                <h3>Please park at ...</h1>
                <h1>{{decision}}</h1>
            </div>
        </body>

</html>