<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
        </style>
        <script src=""></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <body>
            {% load static %}
            <div class="container">
                <div class="row justify-content-md-center">
                    <img src="{% static 'img/Logo.png' %}" alt="Logo">
                    <div>
                        <div class="">
                            <h1>Pools</h1>
                        </div>
                        <p>Add Pools</p>
                        <form action="/management/poolAdded/" method="post">
                            {% csrf_token %}
                            {{ addPoolForm }}
                            <input type="submit" value="Submit" class="btn btn-primary mb-2" />
                        </form>
                        <p>Remove Pools</p>
                        <form action="/management/removedPool/" method="post">
                            {% csrf_token %}
                            {{ removePoolForm }}
                            <input type="submit" value="Submit" class="btn btn-primary mb-2" />
                        </form>
                        <table class="table is-fullwidth is-hoverable" border="1">
                            <thead>
                                <tr>
                                    <th>Pool Id</th>
                                    <th>Pool Name</th>
                                    <th>longitude</th>
                                    <th>latitude</th>
                                </tr>
                            </thead>
                            {% for pool in pools %}
                            <tbody>
                                <tr>
                                    <th>{{pool.id}}</th>
                                    <th>{{pool.name}}</th>
                                    <td>{{pool.longitude}}</td>
                                    <td>{{pool.latitude}}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <div>
                        <div class="">
                            <h1>Chargers</h1>
                        </div>
                        <p>Add Chargers</p>
                        <form action="/management/chargerAdded/" method="post">
                            {% csrf_token %}
                            {{ addChargerForm }}
                            <input type="submit" value="Submit" class="btn btn-primary mb-2" />
                        </form>
                        <p>Remove Charger</p>
                        <form action="/management/removedCharger/" method="post">
                            {% csrf_token %}
                            {{ removeChargerForm }}
                            <input type="submit" value="Submit" class="btn btn-primary mb-2" />
                        </form>
                        <table class="table is-fullwidth is-hoverable" border="1">
                            <thead>
                                <tr>
                                    <th>Charger Id</th>
                                    <th>Pool Id</th>
                                    <th>Charger Name</th>
                                    <th>Pool</th>
                                    <th>Type</th>
                                    <th>longitude</th>
                                    <th>latitude</th>
                                    <th>Available</th>
                                </tr>
                            </thead>
                            {% for charger in chargers %}
                            <tbody>
                                <tr>
                                    <th>{{charger.id}}</th>
                                    <th>{{charger.pool.id}}</th>
                                    <th>{{charger.name}}</th>
                                    <th>{{charger.pool}}</th>
                                    <th>{{charger.charger_type}}</th>
                                    <td>{{charger.longitude}}</td>
                                    <td>{{charger.latitude}}</td>
                                    <td>{{charger.is_available}}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        <form action="/management/chargerTypeAdded/" method="post">
                            {% csrf_token %}
                            {{ addChargerType }}
                            <input type="submit" value="Submit" class="btn btn-primary mb-2" />
                        </form>
                        <p>Remove Charger</p>
                        <form action="/management/removeChargerType/" method="post">
                            {% csrf_token %}
                            {{ removeChargerType }}
                            <input type="submit" value="Submit" class="btn btn-primary mb-2" />
                        </form>
                        <table class="table is-fullwidth is-hoverable" border="1">
                            <thead>
                                <tr>
                                    <th>Charger Id</th>
                                    <th>Charger Name</th>
                                    <th>KW</th>
                                </tr>
                            </thead>
                            {% for chargerType in chargerTypes %}
                            <tbody>
                                <tr>
                                    <th>{{chargerType.id}}</th>
                                    <th>{{chargerType.name}}</th>
                                    <th>{{chargerType.kw}}</th>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        <p>Upload Car Info</p>
                        <form action="/management/uploadCarInfo/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ uploadCarInfoForm }}
                            <input type="submit" value="Submit" class="btn btn-primary mb-2" />
                        </form>
                    </div>
                </div>
            </div>
        </body>

</html>