<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chargers</title> 
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>
<body class="font-helvetica">
    <header class="header">
        <figure class="m-0 p-0 d-flex justify-content-center flex-shrink-0">
            <img src='{% static "img/munich_airport_logo.png" %}' alt="">
        </figure>
        <div class="d-flex gap-2 align-items-center header--info-area">
            <h2 class="header--info-charger">Chargers</h2>
            <img src='{% static "img/charger-dark.svg" %}' alt="charger-dark.svg">
        </div>
         <div class="d-flex justify-content-end flex-shrink-0">
            <ul class="list-unstyled d-flex gap-4 align-items-center pe-4">
                <li>
                    <a href="#" class="header--username font-product-sans">Sam Wilder</a>
                </li>
                <li>
                   <a href="#" class="header--envelope">
                        <img  src='{% static "img/envelope-fill.svg" %}' alt="envelope-fill.svg">
                    </a>
                </li>
                <li>
                    <button type="button" class="bg-transparant border-0">
                        <img src='{% static "img/bell.svg" %}' alt="bell.svg">
                    </button>
                </li>
                <li>
                    <a href="#">
                        <img class="rounded-circle" src='{% static "img/user.png" %}' alt="user.png">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main--area-desktop">
        <aside class="aside--left pb-4">
            <div class="d-flex px-4 py-5 justify-content-center flex-column align-items-center">
                <figure class="m-0 p-0 pb-3">
                    <img src='{% static "img/car.svg" %}' alt="car.svg">
                </figure>
                <h1 class="font-arial text-center">MY FLEET </h1>
            </div>
            <div class="py-4 aside--menu">
                <h2 class="font-arial text-center"><a href="/management/pools">POOLS</a></h2>
                <ul class="aside--list pt-4 px-3 list-unstyled d-flex flex-column align-items-center gap-3">
                    <li><a href="#">ADD POOL</a></li>
                    <li><a href="#">REMOVE POOL</a></li>
                    <li><a href="#">DASHBOARD</a></li>
                    <li><a href="#">EXPORT DATA</a></li>
                </ul>
            </div>
            <div class="py-4 aside--menu">
                <h2 class="font-arial text-center"><a href="#">CHARGERS</a></h2>
                <ul class="aside--list pt-4 px-3 list-unstyled d-flex flex-column align-items-center gap-3">
                    <li><a href="#">ADD CHARGER</a></li>
                    <li><a href="#">REMOVE CHARGER</a></li>
                    <li><a href="#">DASHBOARD</a></li>
                    <li><a href="#">EXPORT DATA</a></li>
                </ul>
            </div>
            <div class="py-4 aside--menu">
                <h2 class="font-arial text-center"><a href="#">OPERATIONS</a></h2>
                <ul class="aside--list pt-4 px-3 list-unstyled d-flex flex-column align-items-center gap-3">
                    <li><a href="/management/fleet">OPERATE FLEET</a></li> 
                    <li><a href="#">DASHBOARD</a></li>
                    <li><a href="/management/transactions">TRANSACTIONS</a></li>
                </ul>
            </div>
        </aside>
        <section class="content--area">
            <form action="/management/uploadCarInfo/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="car-info" class="form-label">Upload Car Info</label>
                            {{ uploadCarInfoForm.file }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <input type="submit" value="Submit" class="btn btn-primary mb-2" />
                </div>
            </form>
        </section>
        <aside class="aside--right pe-4">
           <div class="pb-4">
                <!-- start coding for info box  one -->
                <div class="info--box info--color font-arial  mb-3">
                    <div class="d-flex justify-content-between align-items-center pb-2 gap-3">
                        <div class="d-flex align-items-center gap-2">
                            <img src='{% static "img/info.svg" %}' alt="info.svg">
                            <h2 class="info--box-title">INFO</h2>
                        </div> 
                    </div> 
                    <p class="info--box-detail">Please make sure to maintain everything well!</p>  
                </div>
                <!-- start coding for info box  two -->
                <div class="info--box   font-arial  mb-3">
                    <div class="d-flex justify-content-between align-items-center pb-2 gap-3">
                        <div class="d-flex align-items-center gap-2">
                            <img src='{% static "img/info.svg" %}' alt="info.svg">
                            <h2 class="info--box-title">INFO</h2>
                        </div> 
                    </div> 
                    <p class="info--box-detail">Please make sure to maintain everything well!</p>  
                </div>
                <!-- start coding for info box  three -->
                <div class="info--box info--color font-arial  mb-3">
                    <div class="d-flex justify-content-between align-items-center pb-2 gap-3">
                        <div class="d-flex align-items-center gap-2">
                            <img src='{% static "img/info.svg" %}' alt="info.svg">
                            <h2 class="info--box-title">INFO</h2>
                        </div> 
                    </div> 
                    <p class="info--box-detail">Please make sure to maintain everything well!</p>  
                </div>
           </div>
           <div class="">
            <h2 class="aside--charger-display pb-3">Chargers Display</h2>
            <div class="car--charger-box d-flex align-items-end">
               <div class="">
                    <div class="pb-5 mb-2 d-flex gap-1 flex-wrap  ">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/hub.svg" %}' alt="hub.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                    </div> 
                    <div class="d-flex car--charger-box-two  flex-wrap ">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                        <img src='{% static "img/car-aside.svg" %}' alt="car-aside.svg">
                    </div> 
               </div>
            </div>
       </div>
        </aside>
    </main>
    <script src='{% static "js/bootstrap.min.js" %}'></script> 
    <script src='{% static "js/custom.js" %}'></script>
</body>
</html>